openapi: 3.1.0
info:
  title: Reclamation Information Sharing Environment (RISE) Catalog API
  version: '1.0'
  description: Minimal OpenAPI 3.1 description of the Bureau of Reclamation's RISE API, which exposes catalog, location, parameter, model run, and time series result resources for water resource data across Reclamation regions.
  x-generated-from: https://data.usbr.gov/rise/api
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://data.usbr.gov/rise/api
  description: Production
tags:
- name: Catalog
paths:
  /catalog-item:
    get:
      tags:
      - Catalog
      summary: List catalog items
      operationId: listCatalogItems
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/ItemsPerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /catalog-record:
    get:
      tags:
      - Catalog
      summary: List catalog records
      operationId: listCatalogRecords
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/ItemsPerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /catalog-theme-type:
    get:
      tags:
      - Catalog
      summary: List catalog theme types
      operationId: listCatalogThemeTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /item-structure:
    get:
      tags:
      - Catalog
      summary: List item structures
      operationId: listItemStructures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /sub-theme:
    get:
      tags:
      - Catalog
      summary: List sub-themes
      operationId: listSubThemes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
components:
  parameters:
    ItemsPerPageParam:
      name: itemsPerPage
      in: query
      schema:
        type: integer
        minimum: 1
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
  schemas:
    CollectionResponse:
      type: object
      additionalProperties: true
