openapi: 3.1.0
info:
  title: Reclamation Information Sharing Environment (RISE) Catalog Locations API
  version: '1.0'
  description: Minimal OpenAPI 3.1 description of the Bureau of Reclamation's RISE API, which exposes catalog, location, parameter, model run, and time series result resources for water resource data across Reclamation regions.
  x-generated-from: https://data.usbr.gov/rise/api
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://data.usbr.gov/rise/api
  description: Production
tags:
- name: Locations
paths:
  /location:
    get:
      tags:
      - Locations
      summary: List monitoring locations
      operationId: listLocations
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/ItemsPerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /location-type:
    get:
      tags:
      - Locations
      summary: List location types
      operationId: listLocationTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
components:
  parameters:
    ItemsPerPageParam:
      name: itemsPerPage
      in: query
      schema:
        type: integer
        minimum: 1
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
  schemas:
    CollectionResponse:
      type: object
      additionalProperties: true
